#main, #about, #projects {
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main img {
    border-radius: 50%;
    width: 200px;
}

ul#menu, ul#projects-list {
    list-style: none;
}

ul#menu li {
    display: inline;
    margin: 20px;
    letter-spacing: 2px;
}

ul#menu li a {
    text-decoration: none;
    color: black;
}

#projects-list img {
    width: 100px;
}

.project {
    margin-top: 20px;
    padding: 10px;
    background-color: aliceblue;
}

footer {
    font-size: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}