#main, #about, #projects {
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main img {
    border-radius: 50%;
    width: 200px;
}